@import './helpers/_variables.scss';

.button {
  background-color: $accent-color;
  border-radius: 20px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 140px;
  z-index: 0;


  &:before{
    background-color: darken($accent-color, 20%);
    content: '';
    height: 100%;
    left:0;
    position: absolute;
    right: 0;
    top: 0%;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: -1;
  }
  
  &:hover {
    color: black;
    
    &:before{
      transform: translateY(0%);
    }
  }

  &--reset {
    @extend .button;
    margin-top: 20px;
  }

  &--pricing {
    background-color: $background-gray;
    border-radius: 0px;
    bottom: 0px;
    margin-bottom: 40px;
    margin-left: -94px;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    width: auto;
  }
}