input[type="checkbox"] {
  display:none;
}

.checkbox-label {
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  border: 1px solid black;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em georgia;
  height: 14px;
  margin: 0 10px 0 0;
  padding: 0;
  padding-top: 1px;
  vertical-align: top;
  width: 15px;
}

input[type="checkbox"]:checked + label:before {
  background: $accent-color;
  color: black;
  content: "\2713";
  text-align: center;
}