.display-dropdown {
  height: 120px;
  overflow: hidden;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  visibility: visible;
}

.dropdown {
  float: left;
  margin-left: 60px;
  padding-top: 20px;
  position: relative;
  vertical-align: top;
  width: 20%;

  &--heading {
    border-bottom: 2px solid black;
    cursor: pointer;
    font-style: italic;
    margin-bottom: -2px;
    padding-bottom: 6px;
    padding-left: 16px;
    text-align: left;
  }
}

ul {
  background-color: $background-gray;
  border: 2px solid black;
  box-shadow: 3px 3px 7px -2px black;
  margin-top: 0px;
  padding-left: 0px;
  height: 10px;
  list-style: none;
  overflow: hidden;
  position: absolute;
  text-align: left;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  visibility: hidden;
  width: 100%;
  z-index: 10;  


  li {
    border-bottom: 1px solid black;
    cursor: pointer;
    padding-bottom: 5px;
    padding-left: 16px;
    padding-top: 5px;

    &:hover {
      background-color: $accent-color;
    }
  }
}