@import './helpers/index.scss';
@import './layouts/index.scss';
@import './components/index.scss';

.app {
  background-color: $background-gray;
  min-height: 100vh;
  text-align: center;
}

.container {
  height: $header-height;
  position: relative;
  width: 100%;

  &--grid {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
    padding-top: 50px;
  }

  &--information {
    background-color: $accent-color--light;
    border: 2px solid black;
    display: block;
    height: auto;
    margin: auto;
    margin-bottom: 60px;
    min-height: 275px;
    position: relative;
    text-align: center;
    width: 75%;
  }

  &--tile {
    background-image: url('https://webknox.com/recipeImages/');
    background-color: rgba($accent-color, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 250px;
    margin-bottom: 30px;
    position: relative;
    width: 17%;

    &:hover {
      box-shadow: 0px 0px 10px 1px black;
    }
  }
}

.no-results {
  color: black;
  font-size: 25px;
  font-style: italic;
  padding-top: 100px;
  text-align: center;
}

/* background-color: #282c34; */

body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



// Not my code:

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
