@import './helpers/_variables.scss';

.header {
  background-color: black;
  color: $accent-color;
  display: table;
  font-size: 44px;
  height: $header-height;
  width: 100%;

  &--button {
    color: $accent-color;
    display: table-cell;
    font-size: 20px;
    margin: 0px;
    padding-right: 60px;
    text-align: right;
    text-transform: capitalize;
    vertical-align: middle;

    span {
      &:hover {
        background-color: transparent;
        color: $background-gray;
        cursor: pointer;
      }
    }
  }

  &--title {
    cursor: default;
    margin: 0px;
    display: table-cell;
    padding-left: 60px;
    text-align: left;
    vertical-align: middle;
  }
}