@import './helpers/_variables.scss';

.tile {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0) 100%);
  margin-bottom: 45%;

  &--bottom {
    background-color: rgba(0,0,0,0.8);
    bottom: 20px;
    border-radius: 2px;
    left: 14%;
    margin: auto;
    padding: 12px;
    position: absolute;
    text-align: left;
    width: 60%;
  }

  &--info {
    color: $background-gray;
    font-size: 14px;
    margin: 0px;

    &:first-child {
      margin-bottom: 3px;
    }
  }

  &--value {
    color: lighten($accent-color, 0.2);
    padding-left: 20px;
  }

  &--title {
    color: $background-gray;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    overflow-wrap: break-word;
    padding: 20px 10px;
  }
}