@import './helpers/_variables.scss'; 

.page-title {
  cursor: default;
  font-size: 28px;
  margin: 0px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-top: 40px;
}

.card {
  &--instructions {
    line-height: 1.5em;
    margin-top: 0px;
    padding: 0 40px 20px 40px;
    text-align: justify;

    li {
      font-size: 18px;
      font-weight: bold;
      list-style-type: decimal;
      padding-bottom: 10px;
      
      span {
        font-size: 16px;
        font-weight: normal;
        padding-left: 10px;
      }
    }
  }

  &--subtitle {
    cursor: default;
    font-size: 16px;
    font-style: italic;
    margin: 0;
    padding-bottom: 10px;
  }

  &--title {
    cursor: default;
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    text-decoration: underline;
  }
}


.ingredient {
  height: 10px;
  margin: auto;
  overflow: hidden;
  text-transform: capitalize;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  visibility: hidden;
  width: 60%;

  &--display{
    height: 200px;
    overflow: hidden;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    visibility: visible;
  }

  &--left {
    float: left;
    text-align: left;
  }

  &--right {
    float: right;
    text-align: right;
  }

  p {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 50%;
  }
}

.ingredient-list {
  height: auto;
  margin-top: -20px;
  padding-bottom: 20px;
  padding-left: 40px;
  text-transform: capitalize;
}

.total {
  border-bottom: 2px solid black;
  font-weight: bold;
  margin: auto;
  margin-bottom: 115px;
  width: 80%;

  &--price {
    padding-left: 30%;
  }

  p {
    margin: 0px;
    padding-bottom: 30px;
    padding-top: 20px;
  }
}