@import './stylesheets/variables.scss';

// body {
//   margin: 0;
//   padding: 0;
//   font-family: 'Georgia', 'Roboto';
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
